<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Liste de film</title>
</head>
<body>
    <h1 class="container">Films</h1>
    <ul>
    {{#movies}}
    <li class="{{#isChartreuse}}{{index}}{{/isChartreuse}}">
        {{title}}, {{author}}
    </li>
    {{/movies}}
    </ul>
    <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus natus amet fuga unde veritatis rerum magnam aspernatur cum eum voluptatibus?</p>
</body>
</html>